.header{
    text-align: center;
}
.main{
    border: 2px solid black;
}
.todo-item{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.todo{
    display: block;
    padding: 10px;
    margin: 10px;
    margin: 0 auto;
}
.submit{
    margin: 0 auto;
}